/** BASIC */

body {
	margin: 0px;
	padding: 0px;
	background: #202C35 url(images/bg01.jpg) repeat-x left top;
}

/** FORMS */

form {
	margin: 0px;
	padding: 0px;
}

/** HEADINGS */

h1, h2 {
	margin-bottom: 15px;
	padding-left: 29px;
	background: url(images/homepage11.gif) no-repeat left center;
	font-family: Georgia, "Times New Roman", Times, serif;
	color: #202C35;
}

h1 {
	font-size: 22px;
}

h2 {
	font-size: 17px;
}

h3 {
	margin: 0px;
	font-size: 11px;
	color: #525252;
}

/** TEXTS */

body, th, td, input, textarea, select {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #828282;
}

p, ul, ol, dl {
	margin-top: 0px;
	margin-bottom: 1.75em;
	text-align: justify;
	line-height: 170%;
}

ul {
	margin-left: 0px;
	padding-left: 0px;
	list-style: none;
}

strong {
	color: #525252;
}

/** LINKS */

a {
	color: #78AE2D;
}

a:hover {
	text-decoration: none;
}

/** STYLES */

.style1 {
}

.style1 a {
}

.style1 a:hover {
}

/** BACKGROUNDS */

.bg1 {
}

/** MENU */

#menu {
	width: 720px;
	height: 66px;
}

#menu ul {
	margin: 0px;
	padding: 16px 0px 0px 0px;
	list-style: none;
}

#menu li {
	float: left;
	width: 144px;
	height: 36px;
	background: url(images/homepage01.gif) no-repeat left top;
}

#menu li.first {
	background: none;
}

#menu a {
	display: block;
	padding-top: 9px;
	text-align: center;
	text-decoration: none;
	font-size: 14px;
	font-weight: bold;
	color: #FFFFFF;
}

#menu a:hover {
	text-decoration: underline;
}

/** WRAPPER */

#wrapper {
	width: 720px;
	margin: 0px auto;
	background: url(images/bg02.jpg) repeat-y left top;
}

.subpage #wrapper {
	background: #FFFFFF;
}

/** PAGE */

#page {
	padding-top: 30px;
	background: url(images/bg03.jpg) no-repeat left top;
}

.subpage #page {
	background-image: url(images/subpage2_01.jpg);
}

/** MISC */

.adspace {
	margin-bottom: 20px;
}

.align-justify { text-align: justify; }
.align-right { text-align: right; }

img { border: none; }

img.left {
	float: left;
	margin: 0px 15px 0px 0px;
}

img.right {
	float: right;
	margin: 0px 0px 0px 15px;
}

hr { display: none; }

.hr1 {
	height: 1px;
}

.three-cols {
}

.three-cols .colA, .three-cols .colB, .three-cols .colC {
	float: left;
	width: 141px;
	padding-left: 18px;
}

.three-cols .colA {
	padding-left: 0px;
}

/** SUBMENU */

#submenu {
	width: 201px;
}

#submenu ul {
	margin: 0px;
	padding: 25px 0px;
	list-style: none;
}

#submenu li {
	display: block;
	width: 201px;
	height: 35px;
	background: url(images/homepage03.jpg) no-repeat left top;
}

#submenu a {
	display: block;
	padding: 10px 0px 0px 18px;
	text-decoration: none;
	font-weight: bold;
	color: #FFFFFF;
}

#submenu a:hover {
	text-decoration: underline;
}

/** FOOTER */

#footer {
	width: 720px;
	background: url(images/bg04.jpg) no-repeat left top;
}

#footer p {
	margin: 0px;
	padding: 35px 0px 50px 200px;
	text-align: center;
	color: #636C72;
}

.subpage #footer {
	background-image: url(images/subpage2_02.jpg);
}

.subpage #footer p {
	padding-left: 0px;
}

